<div class="article-container">

  <div class="article-row">
    <div class="article-card">
      <p class="article-date">2018/10/02</p>
      <h2 class="card-title">はじめて作るRailsアプリケーションで絶対に成功する方法</h2>
      <%= image_tag 'sample.jpg', width: '100%', height: '20%', class: 'famous-img' %>
      <div class="article-content">
        <p class="article-sentence">
          hey は「楽しみ」によって駆動される経済の発展を支援することを目指し、
          コイニー社とストアーズ・ドット・ジェーピー社の経営統合によりうまれ
          た新会社です。誰でも簡単に使える「キャッシュレス 決済サービス」と
          「オンラインストア 開設/運営サービス」を開発、提供しています。
          
          民間商取引市場全体におけるEC化率は成長を続けており、2025年には
          現状の5.4%程度から20%に達するとの予測もあります。<span class='btm-sentence'>この増加分は、
          既にデジタル上で商品/サービス販売を行っている事業者のみ</span>なさまの
          成長のみならず、地方の中小企業やソーシャルサービス上などで人気の
          個人など新たな「売り手」が「楽しいから」価値を生み出し、台頭して
          いくことによるものも大きいのではないかと考えています。
        </p>
      </div>
    </div>
  </div>
  
</div>