<div class="article-container">

  <div class="article-row">
    <div class="article-card">
      <p class="article-date"><%= @article[:updated_at].strftime('%Y/%m/%d') %></p>
      <h2 class="card-title"><%= @article[:content_title] %></h2>
      <% @article.top_image.attached? %>
        <%= image_tag @article.top_image, width: '100%', height: '20%', class: 'famous-img' %>
      <% end %>
      <div class="article-content">
        <%= @article[:content_text] %>
      </div>
    </div>
  </div>
  
</div>