<div class="container">
  <div class="side-menu">
    <%= render 'layouts/admin_common' %>

    <div class="tab-content media-content">
      <h2>メディア</h2>
      <ul class="breadcrumb">
        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="../media" itemprop="url">
            <span itemprop="title">media</span>
          </a>
        </li>
        <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
          <span itemprop="title">upload</span>
        </li>
      </ul>
      <div class="row">
        <%= form_for :media, url: admin_user_media_upload_path, html: {method: 'post'} do |f| %>
          <label class="label label-font" for="title">ファイル名</label>
          <%= f.file_field :avatar, class: 'input input-row' %>
          <%= f.submit :upload, class: 'button-upload' %>
        <% end %>
      </div>
    </div>
  </div>
</div>