<div class="container">
  <div class="side-menu">
    <%= render 'layouts/admin_common' %>

    <div class="tab-content media-content">
      <h2>メディア</h2>
      <div class="row row-media">
        <% for x in 1..7 do%>
        <a href="/admin_users/1/media/1">
          <%= image_tag 'sample.jpg', width: '25%', height: '30%' %>
        </a>
        <% end %>
      </div>
      <div class="row row-upload-button">
        <a href='<%= admin_user_media_upload_path %>'><button type="submit" class="button-upload">アップロード</button></a>
      </div>
    </div>
  </div>
</div>