.side-menu {
  position: relative;
}

.tab-menu {
  display: none;  // ラジオボタンのポチを表示させない
}

.tab-content {
  display: none;  // inputがcheck状態でないcontentは表示させない
  left: 10em;  // contentは.tab-menu分右にずらす
  position: absolute;
  top: 0;
  width: 100%;
}

// .tab-menuがchecked状態の時、対応するcontentを表示させる
#new-article:checked ~ .new-article-content,
#new-fixed-article:checked ~ .new-fixed-article-content,
#media:checked ~ .media-content,
#article:checked ~ .article-content,
#fixed-article:checked ~ .fixed-article-content {
  border-left: solid;
  display: block;
  padding-left: 2em;
}

// .tab-menuがchecked状態の時、対応するlabelのstyleを変更する
#new-article:checked ~ .tab-new-article,
#new-fixed-article:checked ~ .tab-new-fixed-article,
#media:checked ~ .tab-media,
#article:checked ~ .tab-article,
#fixed-article:checked ~ .tab-fixed-article{
  background-color: #000000;
  color: #ffffff;
}

.tab-item {
  align-items: center;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  width: 10em;
}

.tab-item_bd-b {
  border-bottom: solid;
}
