@import './common_layout.scss';

.article {
  width: 80%;
}

.article-card {
  display: flex;
  flex-direction: column;
  position: relative;
  border: solid;
  margin: 1em auto;
  width: 100%;
}

.article-date {
  background: #000;
  color: #fff;
  margin: 0.5em;
  padding: 0 0.5em;
  width: 25%;
  @media screen and (min-width: 480px){
    width: 25%;
  }
  @media screen and (min-width: 768px){
    width: 10%;
  }
  @media screen and (min-width: 920px){
    width: 10%;
  }
  text-align: center;
  font-weight: bold;
}

.article-sentence {
  padding: 0 5px;
}

.btm-sentence {
  background: linear-gradient(transparent 50%, #ffff00 50%);
}