.accbox {
  margin: 2em 2em;
  padding: 0;
  max-width: 100%;/*最大幅*/
}

/*ラベル*/
.accbox label {
  display: block;
  margin: 1.5px 0;
  padding : 11px 12px;
  color :#FFFFFF;
  font-weight: bold;
  background :#101010;
  cursor :pointer;
  transition: all 0.5s;
}

/*ラベルホバー時*/
.accbox label:hover {
  background :#333333;
}

/*チェックは隠す*/
.accbox input {
  display: none;
}

/*中身を非表示にしておく*/
.accbox .accshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.cssacc:checked + .accshow {
  height: auto;
  padding: 5px;
  background: #eaeaea;
  opacity: 1;
}

.accshow__a {
  text-decoration: none;
}
