// Place all the styles related to the newArticle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-upload {
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: solid;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 1em;
}

.row-upload-button {
  text-align: center;
}

.row-media {
  text-align: center;
}