/*
  TopページのCSS
*/

@import './common_layout.scss';

/*
  下線を引いた文字スタイルを適用するmixin 
  引数
    $color: 下線の色
*/
@mixin btm-line($color: #0089FF) {
  position: relative;
  display: inline-block;
  
  &:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    left: 0;
    bottom: -1px;
    background: $color;
  }
}

.original-title {
  margin: 0 0 auto 0.5em;
  @include btm-line(#0089FF);
}

.card {
  display: flex;
  flex-direction: row;
  border: solid;
  margin: 1em 0 1em 0;
}

.card-title {
  font-weight: bold;
  padding-left: 4px;
}