<div class="article-container">

  <div class="article-row">
    <div class="article-card">
      <p class="article-date">2019/01/18</p>
      <h2 class="card-title">PROFILE</h2>
      <%= image_tag 'sample.jpg', width: '100%', height: '20%', class: 'famous-img' %>
      <div class="article-content">
      </div>
    </div>
  </div>
  
</div>