<input class="tab-menu" name="menu" id="new-article" type="radio" checked>
<label class="tab-item tab-new-article tab-item_bd-b" for="new-article">新規作成</label>
<input class="tab-menu" name="menu" id="new-fixed-article" type="radio">
<label class="tab-item  tab-new-fixed-article tab-item_bd-b" for="new-fixed-article">新規固定記事</label>
<input class="tab-menu" name="menu" id="media" type="radio">
<label class="tab-item  tab-media tab-item_bd-b" for="media">メディア</label>
<input class="tab-menu" name="menu" id="article" type="radio">
<label class="tab-item   tab-article tab-item_bd-b" for="article">記事</label>
<input class="tab-menu" name="menu" id="fixed-article" type="radio">
<label class="tab-item tab-fixed-article" for="fixed-article">固定記事</label>

<div class="tab-content new-fixed-article-content">
  <h2>New Fixed Article</h2>
</div>
<div class="tab-content media-content">
  <h2>Media</h2>
</div>
<div class="tab-content article-content">
  <h2>Article</h2>
</div>
<div class="tab-content fixed-article-content">
  <h2>Fixed Article</h2>
</div>