<input class="tab-menu" name="menu" id="new-article" type="radio" onclick="location.href='./new_article'">
<label class="tab-item tab-new-article tab-item_bd-b" for="new-article" >新規作成</label>
<input class="tab-menu" name="menu" id="media" type="radio" onclick="location.href='./media'">
<label class="tab-item  tab-media tab-item_bd-b" for="media">メディア</label>
<input class="tab-menu" name="menu" id="articles" type="radio" onclick="location.href='./articles'">
<label class="tab-item   tab-article tab-item_bd-b" for="articles">記事</label>
<input class="tab-menu" name="menu" id="fixed-article" type="radio" onclick="location.href='./fixed_article'">
<label class="tab-item tab-fixed-article tab-item_bd-b" for="fixed-article">固定記事</label>
<a href="<%= login_path %>" data-method="delete" rel="nofollow">
  <button class="logout__button">
    ログアウト
  </button>
</a>

<%= content_for :admin_js do %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
<% end %>